.App input[type="text"] {
  background-color: black;
  color: white;
  padding: 3px;
  width: 100%;
  border: none;
}

.App td {
  vertical-align: top;
  padding-right: 10px;
}

.App textarea {
  background-color: black;
  color: white;
  padding: 3px;
  width: 100%;
  border: none;
  resize: none;
  height: 100px;
  font-family: inherit;
}

.App table {
  width: 100%;
}

.App button {
  background-color: black;
  color: white;
  padding: 7px;
  margin: 0 2px;
  border: none;
  font-family: inherit;
}

.App button:disabled {
  color: #444;
}